/* TODO Add site wide styles */
.home_page {
  background-image: url('state_flags_map.jpg');
}

h1 {
  text-align: center;

}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: midnightblue;
  height: 150px;
}

.header_title {
  color: white
}

.navbar {
  background-color: maroon;
}

table {
  margin-left: auto;
  margin-right: auto;
}

table, th, td {
  border: 5px dashed red;
  border-collapse: collapse;
}

table th {
  background-color: blue;
  color: white;
}

th {
  text-align: left;
}

th, td {
  padding: 15px;
}

.is-selected {
  margin: 10px;
  font-weight: 1700;
  text-decoration: none;
}

.links {
  text-decoration: none;
}

.navlinks {
  margin-top: 8px;
  margin-right: 8px;
  text-decoration: none;
  color: black
}

.navlinks:hover {
  text-decoration: none;
  color: red
}

.home-link {
  text-align: center;
}

.contact-home {
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: flex-end
}

.flag {
  margin-top: 10px;
  width: 800px;
  height: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
